        /* font family */
        
        @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Titillium web';
            font-size: 16px;
            line-height: 1.5;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .container {
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
        }
        
        .clearfix:before,
        .clearfix:after {
            width: 100%;
            display: table;
            content: '';
        }
        
         ::placeholder {
            opacity: 1;
            font-size: 18px;
            line-height: 18px;
            color: #ffffff;
            font-weight: 400;
            font-family: "Titillium Web";
            padding-left: 25px;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Titillium web';
            font-weight: 700;
            margin: 0;
        }
        
        a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }
        /* header */
        
        .site-navigation {
            background-color: #87509c;
            padding: 57px 0
        }
        
        .site-navigation ul {
            margin: 0;
            padding: 9px 0;
            padding-right: 49px;
            list-style: none;
        }
        
        .site-navigation .head-logo {
            width: 25%;
            float: left;
            padding-left: 61px;
        }
        
        .navigation ul li {
            display: inline-block;
        }
        
        .navigation {
            width: 75%;
            float: left;
            text-align: right;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 25px;
        }
        
        .navigation a:hover {
            background-color: #643a79;
            border-radius: 4px;
        }
        
        .navigation ul li a {
            display: inline-block;
            color: white;
            width: 77px;
            height: 32px;
            border-radius: 4px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            text-align: center;
            padding-top: 7px;
        }
        /* banner */
        
        .banner-section {
            background-color: #87509c;
            text-align: center;
            color: white;
            font-size: 42px;
            padding-top: 88px;
            padding-bottom: 145px;
        }
        
        .banner-section p {
            font-size: 42px;
            line-height: 49px;
            color: #f7f3ea;
            font-weight: 700;
            text-align: center;
            margin: 0;
            padding: 0 97px;
        }
        
        .banner-button {
            padding-top: 63px;
        }
        
        .banner-section button {
            background-color: #eb7d4b;
            width: 293px;
            height: 70px;
            border: none;
            border-bottom: 4px solid #c86a40;
            border-radius: 4px;
        }
        
        .banner-section a {
            color: #ffffff;
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 26px;
            font-weight: 600;
        }
        /* service sections */
        
        .service-section {
            background-color: #17c2a4;
            padding: 119px 0;
            color: #ffffff;
        }
        
        .top-service h2 {
            font-size: 40px;
            letter-spacing: 4px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 700;
            text-align: center;
        }
        
        .underline-h2 {
            width: 87px;
            height: 4px;
            background-color: #13a58b;
            margin: 22px auto;
        }
        
        .top-service p {
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 26px;
            color: #ffffff;
            font-weight: 400;
            text-align: center;
            margin: 0;
            padding: 0 276px 62px
        }
        
        .bottom-service .block {
            float: left;
            width: 25%;
            padding: 0 40px;
            text-align: center
        }
        
        .bottom-service h4 {
            font-size: 24px;
            letter-spacing: 0px;
            line-height: 18px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 50px;
        }
        
        .para-block p {
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 24px;
            font-weight: 300;
            margin: 0 auto;
            padding-top: 29px;
            text-align: center;
            width: 191px;
        }
        /* team section */
        
        .team-section {
            background-color: #e7f1f8;
            padding: 120px 0;
        }
        
        .top-team .underline-h2 {
            background-color: #c8d9e5;
        }
        
        .top-team h2 {
            letter-spacing: 4px;
            line-height: 30px;
            text-align: center;
            font-size: 41px;
            color: #3c4761;
            font-weight: 700;
        }
        
        .top-team p {
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 26px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 0px;
            color: #3c4761;
            text-align: center;
            margin: 0;
            padding: 0px 10px 80px
        }
        
        .bottom-team .block-team {
            float: left;
            width: 25%;
            padding: 0 40px;
            text-align: center;
        }
        
        .img-profile img {
            margin-bottom: 0;
        }
        
        .bottom-team h3 {
            font-size: 24px;
            letter-spacing: 0px;
            line-height: 18px;
            color: #27283d;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 41px;
            padding-bottom: 15px;
        }
        
        .block-team h4 {
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 18px;
            color: #30bae7;
            font-weight: 400;
        }
        
        .block-team p {
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #3c4761;
            font-weight: 300;
            width: 197px;
            margin: 0 auto;
            padding: 25px 0;
        }
        /* skill section */
        
        .skill-section {
            background-color: #ffffff;
            padding: 120px 0;
        }
        
        .skill-section .underline-h2 {
            background-color: #dfe7ed;
        }
        
        .skill-section h2 {
            font-size: 40px;
            letter-spacing: 4px;
            line-height: 30px;
            color: #3c4761;
            font-weight: 700;
            text-align: center;
        }
        
        .skill-section p {
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 26px;
            color: #3c4761;
            font-weight: 400;
            text-align: center;
            width: 570px;
            margin: 0 auto;
            padding-bottom: 84px;
        }
        
        .skill-section .block-skill {
            width: 25%;
            float: left;
            padding: 0 40px;
        }
        /* touch section */
        
        .touch-section {
            background-color: #3c5499;
            padding: 120px 0;
            text-align: center;
        }
        
        .touch-section .underline-h2 {
            background-color: #dfe7ed;
        }
        
        .touch-section .underline-h2 {
            background-color: #273a71;
        }
        
        .touch-section h2 {
            font-size: 40px;
            letter-spacing: 4px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 700;
            text-align: center;
        }
        
        .touch-section p {
            font-size: 18px;
            letter-spacing: 0px;
            line-height: 26px;
            color: #ffffff;
            font-weight: 400;
            text-align: center;
            margin: 0;
            padding-bottom: 78px;
        }
        
        .touch-section button {
            background-color: #30bae7;
            width: 293px;
            height: 70px;
            border: none;
            border-bottom: 4px solid #299ec5;
            border-radius: 4px;
            color: #ffffff;
            font-size: 18px;
        }
        
        .button-block {
            padding: 49px 0 0;
        }
        
        .touch-block input {
            width: 414px;
            height: 56px;
            border-radius: 4px;
            background-color: #273a71;
            border: none;
            margin: 0 14px;
        }
        
        .message-block textarea {
            width: 860px;
            height: 200px;
            border-radius: 3px;
            background-color: #273a71;
            border: none;
            margin-top: 27px;
            padding: 24px 0 0;
        }
        /* footer  */
        
        .social-nav {
            background-color: #334b8e;
            padding: 50px 0;
            text-align: center;
        }
        
        .social-nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .social-list ul li {
            display: inline-block;
        }
        
        .social-list ul li a {
            display: inline-block;
            padding: 0 30px;
            color: #ffffff;
            font-size: 24px;
            letter-spacing: 0px;
            line-height: 30px;
            font-weight: 600;
            text-align: center;
        }
        
        .social-list a:hover {
            color: #30bae7;
        }