/* font family */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium web';
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    width: 100%;
    display: table;
    content: '';
}

 ::placeholder {
    opacity: 1;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Titillium Web";
    padding-left: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium web';
    font-weight: 700;
    margin: 0;
}

a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}


/* header */

.site-navigation {
    background-color: #87509c;
    padding-top: 57px
}

.site-navigation ul {
    margin: 0;
    padding-right: 0px;
    list-style: none;
    padding-top: 3px;
}

.site-navigation .head-logo {
    width: 25%;
    float: left;
    padding-left: 48px;
}

.navigation ul li {
    display: inline-block;
}

.navigation {
    width: 75%;
    float: left;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 30px;
}


/* .navigation a:hover {
    background-color: #643a79;
    border-radius: 4px;
    width: 77px;
    height: 32px;
} */

.navigation ul li a {
    display: inline-block;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 7px;
    padding-left: 41px
}


/* banner */

.banner-section {
    background-color: #87509c;
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 122px;
    padding-bottom: 146px;
}

.banner-section p {
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 6px;
    padding-left: 92px;
    padding-right: 101px;
    padding-bottom: 1px;
}

.banner-section .p-2 {
    padding-right: 89px;
    padding-top: 0;
}

.banner-button {
    padding-top: 45px;
}

.banner-section button {
    background-color: #eb7d4b;
    width: 293px;
    height: 70px;
    border: none;
    border-bottom: 4px solid #c86a40;
    border-radius: 4px;
}

.banner-section a {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 600;
}


/* service sections */

.service-section {
    background-color: #17c2a4;
    padding: 119px 0;
    color: #ffffff;
}

.top-service h2 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.underline-h2 {
    width: 87px;
    height: 4px;
    background-color: #13a58b;
    margin: 18px auto;
    margin-top: 19px;
}

.top-service p {
    font-size: 18px;
    letter-spacing: 0.39px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0 245px 62px;
}

.bottom-service img {
    padding-top: 11px;
    padding-left: 9px;
}

.bottom-service .block {
    float: left;
    width: 25%;
    padding: 0 40px;
    text-align: center
}

.bottom-service h4 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 22px;
    padding-top: 47px;
}

.para-block p {
    font-size: 16px;
    letter-spacing: 0.12px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding-top: 22px;
    text-align: center;
    width: 191px;
}


/* team section */

.team-section {
    background-color: #e7f1f8;
    padding: 120px 0;
}

.top-team .underline-h2 {
    background-color: #c8d9e5;
}

.top-team h2 {
    letter-spacing: 3.5px;
    line-height: 30px;
    text-align: center;
    font-size: 41px;
    color: #3c4761;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 4px;
}

.top-team p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px;
    color: #3c4761;
    text-align: center;
    margin: 0;
    padding: 6px 10px 80px;
}

.bottom-team .block-team {
    float: left;
    width: 25%;
    padding: 0 40px;
    text-align: center;
}

.bottom-team .block-team .social-icon {
    padding: 8px 0 2px 0px;
}

.img-profile img {
    margin-bottom: 0;
}

.bottom-team h3 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #27283d;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 12px;
}

.block-team h4 {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #30bae7;
    font-weight: 400;
}

.block-team p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #3c4761;
    font-weight: 300;
    width: 197px;
    margin: 0 auto;
    padding: 21px 0;
}

.social-icon img {
    padding: 0px 4px;
}


/* skill section */

.skill-section {
    background-color: #ffffff;
    padding: 116px 0 118px;
}

.skill-section .underline-h2 {
    background-color: #dfe7ed;
}

.skill-section h2 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #3c4761;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 1px 5px;
}

.skill-section .underline-h2 {
    margin-top: 19px;
}

.skill-section p {
    font-size: 18px;
    letter-spacing: 0.38px;
    line-height: 26px;
    color: #3c4761;
    font-weight: 400;
    text-align: center;
    width: 570px;
    margin: 0 auto;
    padding-bottom: 82px;
}

.skill-section .block-skill {
    width: 25%;
    float: left;
    padding: 0 40px;
}

.block-skill img {
    padding: 0px 0px 0px 7px;
}


/* touch section */

.touch-section {
    background-color: #3c5499;
    padding: 111px 0;
    text-align: center;
    margin: 0px;
}

.touch-section .underline-h2 {
    background-color: #273a71;
    width: 87px;
    height: 4px;
    margin: 20px auto 19px;
}

.touch-section h2 {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 0px 4px;
}

.touch-section .touch-address p {
    font-size: 18px;
    letter-spacing: 0.44px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.bottom-touch form {
    padding-top: 75px;
}

.bottom-touch form input[type="email"] {
    width: 414px;
    height: 56px;
    border-radius: 4px;
    background-color: #273a71;
    border: none;
    margin: 0 14px;
}

.bottom-touch form input[type="text"] {
    width: 414px;
    height: 56px;
    border-radius: 4px;
    background-color: #273a71;
    border: none;
    margin: 0 14px;
    padding: 1px 0 0;
}

.bottom-touch form textarea {
    width: 860px;
    height: 200px;
    border-radius: 3px;
    background-color: #273a71;
    border: none;
    margin-top: 27px;
    padding: 21px 0 0;
}

.bottom-touch form input[type="submit"] {
    background-color: #30bae7;
    width: 293px;
    height: 70px;
    border: none;
    border-bottom: 4px solid #299ec5;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 52px;
    padding-top: 5px;
    letter-spacing: 0;
}


/* footer  */

.social-nav {
    background-color: #334b8e;
    padding: 45px 0;
    text-align: center;
}

.social-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-list ul li {
    display: inline-block;
}

.social-list ul li a {
    display: inline-block;
    padding: 0 27px;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.10px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
}

.social-list a:hover {
    color: #30bae7;
}