ul {}

a {
    text-decoration: none;
    color: black;
}


/* 
body > ul > li:nth-child(2) > ul > li:last-child > ul > li:first-child > a{
  color:pink;
} */

ul>li:nth-child(n)>a {
    color: red;
}

ul>li ul li:nth-child(n+2):nth-child(-n+3)>a {
    color: green;
}

ul li ul li:nth-child(n+4):nth-child(-n+5)>a {
    color: blue;
}

ul li ul li ul li:nth-child(n+1):nth-child(-n+2)>a {
    color: red;
}

ul li ul li ul li:nth-child(n+3):nth-child(-n+4)>a {
    color: green;
}

ul li ul li ul li:nth-child(n+5):nth-child(-n+6)>a {
    color: blue;
}